<div class="container mt-5 mb-5">
	<h6>1. Change the following text to red by using bootstrap class.</h6>
	<p>Turn me to red</p>

	<hr/>

	<h6>2. Remove card padding.</h6>
	<h6>3. Make button redirect to http://www.flex-solver.com.sg in a new tab.</h6>
	<h6>4. Bold the content.</h6>
	<h6>5. Apply sticky properties to this card, when scroll to bottom make sure the card is always stick on top of the screen</h6>
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h6 class="card-title">Card title</h6>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<hr/>

	<h6>5. Create 4 cards in one row, 2 in one row in ipad view, 1 in one row in mobile view.</h6>

	<hr/>

	<h6>6. Use any online image resources as background image, when desktop view show image 1 and when mobile show image 2 in the same div.</h6>
	<div class="bg"></div>

	<hr/>

	<h6>7. Style the following text to any color using scss method.</h6>
	<div>
		<p>
			<label>
				Give me some color.
			</label>
		</p>
	</div>

	<hr/>

	<h6>8. Create an input which can only take in number and minimum 0 value, do not allow special characters like ( , + - ) and etc.</h6>

	<hr/>

	<h6>9. Display the provided JSON file (data.json) in table format, use the following as header.</h6>
	<span>
		Name, Gender, Contact Number, Secret (display the value in red color)
	</span>

	<hr/>

	<h6>10. Toggle button color between blue and green.</h6>
	<button class="btn btn-primary">Hello</button>

	<hr/>
	<h6>11. Style all text to red color using global settings.</h6>

	<hr/>
	<h6>12. Create a listener to the following input, console log out the changed value.</h6>
	<input />

	<hr/>
	<h6>
		13. Create a form
		<ul>
			<li>
				consists of name, email, contact number and address
			</li>
			<li>
				name, email and contact number are required fields
			</li>
			<li>
				email with format validation
			</li>
			<li>
				console log the output value by using form submit method
			</li>
		</ul>
	</h6>

	<hr/>
	<h6>14. Auto focus the following input</h6>
	<input />

	<hr/>
	<h6>15. Perform a HTTP call to the following open API to by using browser web location API and display out the value</h6>
	<p>
		https://nominatim.openstreetmap.org/reverse?lat=?&lon=?&format=jsonv2
	</p>

	<hr/>
	<h6>16. Create a file upload component, you may ignore the API path for now, console log out the post body is going to pass over to restful API</h6>

	<hr/>
	<h6>17. Using the provided image (1.png), convert the file into base64 format and console log out the value.</h6>

	<hr/>
	<h6>18. Display out the provided images and allow drag and drop to swap the sequence or any other methods to support the swap action</h6>


</div>


<style>
	hr {
		margin: 30px 0px;
	}
	.bg {
		height: 100px;
		border: 1px solid black;
	}
</style>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
